$grid: (
	columns: 1,
  	gutter: 2rem,
);

$grid__tablet:(
	columns: 8,
  	gutter: 2rem,
	media: "(min-width: #{$size__screen-small})",
);

$grid__desktop:(
	columns: 12,
  	gutter: 2rem,
	media: "(min-width: #{$size__screen-medium})",
);

.site-content {
	@include grid-container;
	@include margin(null auto);
	@include padding(null $size__site-spacing);
	max-width: $size__screen-large;

	.widget-area{
		@include grid-column(1, $grid);

		@include grid-media($grid--tablet) {
			@include grid-column(8);
		}

		@include grid-media($grid--desktop) {
			@include grid-column(4);
		}
	}
}

.content-area {
	@include grid-column(1, $grid);

	@include grid-media($grid--tablet) {
		@include grid-column(8);
	}

	@include grid-media($grid--desktop) {
		@include grid-column(8);
	}
}